<table>
  <tr id="entries_header">
    <td></td>
    <td colspan="3"><%= @term.term %></td>
  </tr>

  <tr id="entries_header">
    <td></td>
    <td>ZSCORE</td>
    <td>PERMIN</td>
    <td>FREQUENCY</td>
    <td>TIME</td>
  </tr>

  <% i = 1 %>
  <% @zscores.each do |z| %>
    <tr class="entry">
      <td><%= i %></td>
      <td><%= z.zscore %></td>
      <td><%= z.per_min.id %></td>
      <td><%= FrequentPerMinTerm.find_frequent_per_min_term(z.per_min.id, @term.id).first.frequency %></td>
      <td><%= z.per_min.created_at %></td>
    </tr>
  <% i = i + 1 %>
  <% end %>
</table>
