<!DOCTYPE html>
<html>
  <head>
    <title>Ttanalyzer</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">


    <div style="float:left">
      
    </div>

    </div>
    <hr>
    <div class="menu" style="float:left">
      <table>
        <tr>
          <td><%= link_to "TOP TRENDS (current)", top_trend_index_path, :class => "menu_link" %>&nbsp&nbsp</td>
          <td><%= link_to "ZSCORES (current)", zscore_currents_path, :class => "menu_link" %>&nbsp&nbsp</td>
          <td><%= link_to "ZSCORE HISTORICALS", zscore_historicals_path, :class => "menu_link" %>&nbsp&nbsp</td>
          <td><%= link_to "TTs", tts_path, :class => "menu_link" %>&nbsp&nbsp</td>
        <tr>
      </table>
    </div>
  <%= yield %>
  </body>
</html>
